@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');     less bold */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&display=swap');


.shadow{
    box-shadow: 0 10px 10px #00000009, 0 50px 40px #00000012;
    margin: 3%;
}
.main-heading{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.main-heading h1{
    /* font-family: 'Kanit', sans-serif; */
     color: rgba(0, 0, 0, 0.55);
     /* color: #cd933b; */
     color: black;
     font-size: 3rem;
    
}
.size{
    /* height: 120vh; */
}
.list{
    margin: 12%;
    margin-top: 3%;
}

.list-head{
    font-family: 'Varela', sans-serif;
    font-size: 24px;
    margin-top: 2%;
    color: #ff1361;  
}
.list-head:hover{
    /* font-size: 30px; */
}

.list-item{
    font-size: 22px;
    font-family: 'Varela', sans-serif;
    color: #8a78cc;
    transition: background-color 2s ease-out 100ms

}
.list-item:hover{
    color: #231557;
    /* font-size: 26px; */
}


