/* @import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900"); */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@700&display=swap');

@media (max-width: 900px){
  .col h2{
    font-size: 1rem;
    line-height: normal;
  }
  .gallery{
    width: 200px;
  }
}


.aftnav {
    margin: 2%;
    height: 25vw;
    /* box-shadow:  rgba(0, 0, 0, 0.22) 0px 10px 10px; */
    box-shadow: 0 12px 11px #00000009, 0 100px 80px #00000012;

    
    border-Radius: '10px'

}

/* ANIMATION TO TEXT */


.animate-charcter {
    /* text-transform: uppercase; */
    background-image: linear-gradient(-200deg,
            #231557 5%,
            #198754 30%,
            #44107a 30%,
            #cd933b 50%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 190% auto;
    color: #fff;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-fill-color: transparent; */
    animation: textclip 2s linear infinite;
    display: inline-block;
    margin-top: 6%;
}
@keyframes textclip {
    to {
        background-position: 200% center;
    }
}




.col h2 {
    font-size: 4.5rem;
    line-height: 1.5;
    font-family: 'Gentium Plus', serif;
    padding-top: 3%;
}
.col h2:hover {
    color: #129768;
}



/* ANIMATION IMAGES */


.gallery {
    --g: 8px;   /* the gap */
    --s: 400px; /* the size */
    
    display: grid;
    border-radius: 50%;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 38%;
    
  }
  .gallery > img {
    grid-area: 1/1;
    width: 600px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 0%;
    transform: translate(var(--_x,0),var(--_y,0));
    cursor: pointer;
    z-index: 0;
    transition: .3s, z-index 0s .3s;
  }
  .gallery img:hover {
    --_i: 1;
    z-index: 1;
    transition: transform .2s, clip-path .3s .2s, z-index 0s;
    transform: translateY(-10px);
  }
  .gallery:hover img {
    transform: translate(0,0);
  }
  .gallery > img:nth-child(1) {
    clip-path: polygon(50% 50%,calc(50%*var(--_i,0)) calc(120%*var(--_i,0)),0 calc(100%*var(--_i,0)),0 0,100% 0,100% calc(100%*var(--_i,0)),calc(100% - 50%*var(--_i,0)) calc(120%*var(--_i,0)));
    --_y: calc(-1*var(--g))
  }
  .gallery > img:nth-child(2) {
    clip-path: polygon(50% 50%,calc(100% - 120%*var(--_i,0)) calc(50%*var(--_i,0)),calc(100% - 100%*var(--_i,0)) 0,100% 0,100% 100%,calc(100% - 100%*var(--_i,0)) 100%,calc(100% - 120%*var(--_i,0)) calc(100% - 50%*var(--_i,0)));
    --_x: var(--g)
  }
  .gallery > img:nth-child(3) {
    clip-path: polygon(50% 50%,calc(100% - 50%*var(--_i,0)) calc(100% - 120%*var(--_i,0)),100% calc(100% - 120%*var(--_i,0)),100% 100%,0 100%,0 calc(100% - 100%*var(--_i,0)),calc(50%*var(--_i,0)) calc(100% - 120%*var(--_i,0)));
    --_y: var(--g)
  }
  .gallery > img:nth-child(4) {
    clip-path: polygon(50% 50%,calc(120%*var(--_i,0)) calc(50%*var(--_i,0)),calc(100%*var(--_i,0)) 0,0 0,0 100%,calc(100%*var(--_i,0)) 100%,calc(120%*var(--_i,0)) calc(100% - 50%*var(--_i,0)));
    --_x: calc(-1*var(--g))
  }
  .aftnav-img{
    width: 75%;
    padding-top: 8%;
    padding-left: 8%;
  }
  .aftnav-img:hover{
    transform: translateY(-50px);
  }
  .aftnav-section{
    text-align: center;
    
  }