/* @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');    LESS BOLD */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&display=swap');
.Carousal-main{
    height: 105vh;
}

.carousel-heading{
    font-family: 'Kanit', sans-serif;
    color: black;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 2%
    
}
.carousel-heading h1 {
    font-size: 3.5rem;
    margin-top: 2%;
    margin-bottom: 2%;

}




.carousel{
    width: 60%;   
    margin-left: 21%; 
    
}


